[submodule "train_openmha_bmfwf"]
	path = train_openmha_bmfwf
	url = https://github.com/phuntast1c/train_openmha_bmfwf.git
[submodule "deep_stwf"]
	path = deep_stwf
	url = https://github.com/phuntast1c/deep_stwf
[submodule "deep_mfmvdr"]
	path = deep_mfmvdr
	url = https://gitlab.uni-oldenburg.de/hura4843/deep-mfmvdr.git
